# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Data and output
data/raw/
data/processed/
output/latex/
output/tables/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/